@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav flex-grow-1">
  @if (SignInManager.IsSignedIn(User))
  {
    @if (User.IsInRole("Admin"))
    {
      <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Statuses" asp-action="Index">Statuses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Priorities" asp-action="Index">Priorities</a>
      </li>
    }
    <li class="nav-item">
      <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="Index">Tasks</a>
    </li>
  }
</ul>
